<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KinoBank: Watch Films, TV-Series, Anime and Cartoons</title>
    <meta name="description" content="Films, TV-Series, Anime, Cartoons">
    <script src="https://kit.fontawesome.com/f41c64ca0f.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="~/lib/img/KinoBankLogo.svg" />
    <link rel="stylesheet" href="~/lib/dist/styles.8616bea401b716a4.css" media="print" onload="this.media='all'">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JS3437KF24"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-JS3437KF24');
    </script>
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
