<div class="spinners-wrapper">
    <div class="sninners"></div>
    <div id="spinner1" class="forward"></div>
    <div id="spinner2" class="backwards"></div>
    <div id="spinner3" class="forward"></div>
    <div id="spinner4" class="backwards"></div>
    <div id="spinner5" class="forward"></div>
    <div id="spinner6" class="backwards"></div>
    <div id="spinner7" class="forward"></div>
    <div id="spinner8" class="backwards"></div>
    <div id="spinner9" class="forward"></div>
    <div id="error-label">Error</div>
    <div id="status-code">404</div>
    <div id="error-message">page not found</div>
</div>